FLASK_APP=app.py
FLASK_ENV=development
POSTGRES_USER=root
POSTGRES_PASSWORD=change-me
POSTGRES_SERVER=pgbouncer
POSTGRES_DB=docker_practice
POSTGRES_PORT=5432
POSTGRES_REAL_PORT=5434

JWT_SECRET=change-me-to-a-long-random-string

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
TRANSACTION_EVENTS_QUEUE=transaction.events
